@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gilroy";
  src: url("./assets/font/Gilroy-Medium.ttf");
}

:root {
  --body-width: 1920px;
}

body {
  max-width: var(--body-width);
  width: 100%;
  margin: 0 auto;
  font-family: "Gilroy";
  letter-spacing: 1px;
  overflow-y: auto;
  background-color: #e0dede;
}

.sidebarNav .active {
  background-image: url("./assets/image/navbg.svg");
  background-position: center;
}

.sidebarNav .active.autoCollaps {
  background-image: none;
  background-color: #5a4dad;
}

.custom-container {
  @apply max-w-[1490px] mx-auto md:px-3 px-2 w-[100%];
}

.extra-large-font {
  @apply not-italic font-[700] text-[2.1rem] leading-[1.56rem];
}

.small-font {
  @apply not-italic font-[500] text-[0.93rem] leading-[1.56rem];
}

.initial-font {
  @apply not-italic font-[500] text-[1rem] leading-[1.56rem];
}

.medium-font {
  @apply not-italic font-[600] text-[1.12rem] leading-[1.56rem];
}

.large-font {
  @apply not-italic font-[600] text-[1.56rem] leading-[1.56rem];
}

.extra-small-font {
  @apply not-italic font-[500] text-[0.825rem] leading-[1.25rem];
}

.big-font {
  @apply not-italic font-[600] text-[3.4rem] leading-[1.56rem];
}
